<a name='post-<%= post.id %>'></a>
<div id='post_<%= post_counter + 1 %>' class='post <%= cycle('odd', 'even') -%>'>
  <%= render 'forem/posts/post_details', :post => post, :pending_review => true, :actions => true %>
</div>
