<h2><%= t("forem.post.new") %></h2>
<%= simple_form_for [@topic, @post], :url => forem_topic_posts_url(@topic) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply") %>
<% end %>