<h2><%= link_to t('forem.forum.forums'), forums_path %> &raquo; <%= link_to topic.forum.title, topic.forum %> &raquo; <%= topic.subject %></h2>
<% if forem_admin? %>
  <%= link_to t('forem.topic.links.edit'), edit_admin_topic_path(topic) %>
<% end %>
