<div id='forum'>
  <h2><%= link_to forum.title, forum %></h2>
  <div class='description'>
    <%= forum.description %>
  </div>
  <menu>
    <%= link_to t('forem.topic.links.post'), new_forum_topic_path(forum) -%>
    <% if @topic %>
      <%= link_to t('forem.topic.links.back_to_topics'), forum_path(forum) %>
    <% end %>
  </menu>
</div>
