<div id='forum'>
  <h2><%= @forum.title %></h2>
  <div id='forums'>
    <%= render :partial => "forem/forums/forum", :locals => { :forum => @forum } %>
  </div>
</div>
<%= link_to "Post a new topic.", new_forum_topic_path(@forum) -%>
